   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <h1 class="label-info">Guest Book</h1>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">